.l{
    font-family: usangel;
    color: rgb(45, 46, 45);
}
.o{
    font-family: old-english-five ;
    color: rgb(2, 37, 2);
}
.k{
    font-family: ARB 85 Poster Script JAN-39 FRE ;
    color: rgb(79, 68, 4);
}

.I{
    font-family: CloisterBlack;
    
}

.web{
    font-family: usangel;
    color: rgb(2, 37, 2);
}